@font-face
{
  font-family: 'Playfair';
  src: url('../fonts/PlayfairDisplay-Regular.otf'),
  url('../fonts/PlayfairDisplay-Italic.otf');
}

@font-face
{
  font-family: 'Work Sans', sans-serif;
}

@@font-face {
  font-family: 'Inconsolata', monospace;
}

.col-md-5 {
  text-align: left;
}

.col-md-5 p {
  font-size: 14px;
}

.col-md-12 p{
  /*font-size: 14px;*/
}

.col-md-12 {
  margin-top:10px;
  margin-bottom:10px;
}

.col-md-12 img{
  margin-top:10px;
  margin-bottom:10px;
}

.project-title {
  margin: 0 0 8px;
}

#project-facts {
  /*position: relative;*/
  /*min-height: 150px;*/
  font-size: 8px;
  font-family: 'Inconsolata', monospace;
  color: #666;
}

.project-facts-text {
  font-family: 'Inconsolata', monospace;
  color: #666;
  /*margin-top: 100px;*/
}

.section-title {
  border-top: 1px;
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  color: black;
  /*background-color: yellow;*/
  text-align: center;
}

.section-subtitle {
  font-size: 14px;
  font-family: 'Inconsolata', monospace;
  color: red;
  margin-top: 0px;
}

.section-quote {
  font-size: 12px;
  font-family: 'Inconsolata', monospace;
  color: red;
  margin-top: 0px;
}

.row {
  margin-bottom: 20px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

#yellow-bar {
  /*background-color: yellow;*/
  background-image: linear-gradient(to right, #ECEBE4, #ECEBE4 96%, yellow 4%, yellow);

}
#PROJECTS .row {
  margin-bottom: 50px;
}

#about {
  background-color: #ECEBE4;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


body {
  font-family: 'Playfair', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: #010101;
  background-color: #f3f3f3;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  margin: 10px 0 15px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

strong {
  color: black;
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
  .project-facts-text p{
    font-size: 14px;
    font-family: 'Inconsolata', monospace;
  }
}

/* add padding to intro text on mobile devices */
@media (max-width: 768px) {
    .intro-text {
        padding: 12px;
    }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #010101;
}

a:focus, a:hover {
  text-decoration: none;
  color: #FFE323;
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  background-color: transparent;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 20px;
  color: #010101;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: #010101;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
  .container {
    max-width: 800px;
  }
  #content-container {
    max-width:1100px;
  }
  .content-section {
    padding-top: 120px !important;
    padding-bottom: 100px !important;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: #010101;
  /*background: url("../img/intro-bg.jpg") no-repeat bottom center scroll;*/
  background-color: #ECEBE4;
  /*background-image: linear-gradient(to right, #ECEBE4, #ECEBE4 75%, yellow 25%, yellow);*/
  background-size: cover;
	background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 16px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 18px;
  }
}

.btn-circle {
  font-size: 24px;
  width: 45px;
  height: 45px;
  margin-top: 15px;
  line-height: 35px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: #010101;
  border: 1px solid #010101;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: black;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.content-section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.download-section {
  color: white;
  background: url("../img/downloads-bg.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }

}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #42DCA3;
  outline: none;
  background-color: #42DCA3;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  background-color: #ECEBE4;
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::-moz-selection {
  background: yellow;
  /*background: rgba(255, 255, 255, 0.2);*/
  text-shadow: none;
}

::selection {
  background: yellow;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
